<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="pattern">%d{HH:mm:ss}{GMT+7}|%2.2T|%5.5p| - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <File name="LogFile" fileName="./logs/BankGuru.txt" append="true">
            <PatternLayout pattern="${pattern}"/>
        </File>

        <RollingFile name="RollingFile" fileName="./logs/BankGuru.log"
                     filePattern="./logs/%d{MM-dd-yyyy-HH-mm-ss}_BankGuru-%i.log.gz">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="testcase.bankGuru" level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <Logger name="actions" level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>


        <Root level="WARN">
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="LogFile"/>-->
<!--            <AppenderRef ref="RollingFile"/>-->

        </Root>
    </Loggers>
</Configuration>